
* /* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #99da7e;
    text-align: center;
    
}
text {
  color:rgb(7, 47, 47)
}

h1  {
    color: #233c65;
    text-align: center;
}




button {
    font-size: 18px;
    padding: 10px;
    min-width: 80px;
    border-radius: 5px;
}

.clicked {
    background-color: #ef76bb;
   
}

#number-buttons button, 
#word-buttons button {
    margin: 5px;
}


